body
{
    height: auto;
    margin: 0%;
}
h1,p
{
    margin: 0;
}
header
{
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 100;
}
header h1
{
    text-align: center;
    padding: 30px;
}
footer
{
    background-color:#000000;
}
footer p
{
    color: #fff;
    text-align: center;
    padding: 10px;
}


#navId
{
 
}
.menu
{
    background-color: slategrey;
    margin: 0%;
}
.menu > li a{
    color: white;
    text-decoration: none;
    display: block;
    height: 20px;
    padding: 10px;
    /* width: 40px; */
}
.menu li:hover
{
  background-color: rgb(0, 0, 0);
  /* color: white; */
  
}
.dropdown
{
    display: none;
}
.menu > li:hover .dropdown 
{
      display: flex;
      position: absolute;
      flex-direction: column;
      background-color: whitesmoke;
}   
.menu li:hover .dropdown ul
{
    list-style: none;
    padding: 10px;
}
.menu > li
{
    display: inline-block;
}

 .dropdown ul li a
{
    color: rgb(99, 83, 192);
    background-color: whitesmoke;
    width: 100px;
}
.dropdown ul li a:hover
{
    color: white;
    background-color: #c3c3c3;
}

.container
{
    max-width: 100%;
}
/* home page css */
.home
{
    padding:2px;
}
.home-img
{
    border:2px solid steelblue;
    width:calc(100% - 4px);
    height:500px;
    background-repeat: no-repeat; background-size: cover;
    position: relative;
    animation-name: ani;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
  
  @keyframes ani {
    0%   {background: url('Images/Animation/ani1.jpg');background-repeat: no-repeat; background-size: cover;}
    25%  {background: url('Images/Animation/ani2.png');background-repeat: no-repeat; background-size: cover;}
    50%  {background: url('Images/Animation/ani3.jpg');background-repeat: no-repeat; background-size: cover;}
    75%  {background: url('Images/Animation/ani4.jpg');background-repeat: no-repeat; background-size: cover;}
    100% {background: url('Images/Animation/ani5.jpg');background-repeat: no-repeat; background-size: cover;}
  }



  /* covid care, Diabetees care */
  .covid-care,.diabetees-care
  {
    display: flex;
    justify-content: space-between;
  }
.item-name{}
.item-img
{
    width: 100%;
    height: 150px;
}
.item-Price,.item-Offer
{
    color: rgb(34, 34, 194);
}
.item-cart
{
    width: 100%;
    border-radius: 5px;
    color: rgb(255 145 0);
    background: rgb(176 213 255);
    border: 1px solid rgb(21, 36, 255);
    
}
.item-cart:hover
{
    background: rgb(250, 234, 230);
    border: 1px solid rgb(0, 255, 76);
}

.product{
    background: #ddeeff;
    box-shadow: 0 0 10px 1px #ddeeff;
    width: 23%;
    margin: 0 auto;
    padding: 4px;
}



.mb-5
{
    margin-bottom: 5px;
}
.mb-20
{
    margin-bottom: 20px;
}
/* form */

.form
{
    width: 60%;
    margin: 0 auto;
    padding: 30px 0;
}
.form-text
{
    margin-bottom: 10px;
}
.form-img
{
    width: 48%;
    margin-left: 2%;
}
.form-img img
{
    width: 100%;
}
.form-div div
{
    width: 50%;
}
.form-div
{
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    box-shadow: 0 0 10px #666666;
}
.form-layout{
    padding: 25px;
}

.form-input
{
    display: flex;
    justify-content: space-between;
}
.form-input input
{
    width: 45%;
    border: none;
    border-bottom: 1px solid;
    margin: 10px 0;
    padding:5px;
}



@media (max-width: 768px) 
{
    .covid-care,.diabetees-care
    {
      display: block;
    }
    .product{
        width: 100%;
        margin: 20px 0;
    }
    .item-img
    {
        width: 100%;
        height: 200px;
    }
    .form-div div
    {
        width: 100%;
    }
    .form-div {
        flex-direction: column;
        padding: 20px;
    }
    .form {
        width: 100%;
        height: 100%;
    }
    .form-form
    {
        padding: 20px;
    }
    .form-layout {
        padding: 0;
    }
    .form-img {
        margin-left: 0%;
    }
}